@import "../variables";

.container {
    display: flex;
    align-items: stretch;
    margin: 0 auto;
    padding: $size-1;
    max-width: $window--width--size;
    height: $window--height;

    .container-item {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: $size-1;
        min-height: $min--size--small;
        min-width: $min--size--small;

        .headline {
            text-align: center;
        }

        .nested-container {
            display: flex;
            flex-direction: column;
            flex: 1;
            border: none;
            min-height: $min--size--small;
            background-color: var(--background--light);
            margin: $size-1;
            min-width: 0;

            .presentation-slide-container {
                flex: 1;
                overflow-y: scroll;
                overflow-x: hidden;
                padding: $size-2 0 $size-2 $size-4;

                &.left {
                    .presNameContainer {
                        padding: $size-3 0 $size-1 0;

                        .nameUnderline {
                            border-color: var(--font--primary);
                        }

                        .presentationName {
                            font-size: 1.1rem;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            min-width: 0;
                        }
                    }
                }
            }

            .btn-container {
                display: flex;
                justify-content: space-between;
                padding: $size-4;
            }
        }
    }
}
