.slide-name-with-checkbox {
    display: flex;

    .slide-name {
        flex: 1;
        display: flex;
        align-items: center;
    }

    .lbl-with-img{
        display: flex;
        flex-direction: column;
        img {
            width: calc(50% - $size-1);
            margin: $size-1;
            display: var(--hide);
        }
    }

    .section{
        .checkbox-toggle-btn{
            display: flex;
            align-items: center;
        }
    }
    
}

.main-div {
    .presentation-name {
        padding-bottom: 10px;
    }
}

.main-div + .main-div {
    .uid-title-container {
        margin-top: 15px;
    }
}
