.main-app {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: $window--width;
    height: $size-6;
    overflow: hidden;
    border-bottom: $border-small;
    -webkit-app-region: drag;

    .top-bar {
        flex: 1;
        display: flex;
        flex-direction: row;
        width: $window--width;
        height: $size-6;
        -webkit-user-select: none;
        user-select: none;

        .title {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            z-index: -1;
            width: $window--width;
            height: $size-6;
        }

        .title-bar-btns {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            .top-btn {
                padding: 0 10px;
                border: none;
                outline: none;
                background-color: transparent;
                background-position: center;
                transition: 0.2s;
                cursor: pointer;
                border-radius: 0;
                box-shadow: none;

                &:hover {
                    background-color: var(--btn--hover--titlebar);
                }

                &:focus-visible {
                    background-color: var(--btn--hover--titlebar);
                }

                &:disabled:hover {
                    background-color: var(--background--primary);
                    cursor: auto;
                }
            }

            .svg {
                background-color: var(--btn--titlebar);
                width: 19px;
                height: 19px;
            }

            .minimize-btn {
                .svg {
                    -webkit-mask-image: url("../icons/minimize.svg");
                    -webkit-mask-size: contain;
                    mask-image: url("../icons/minimize.svg");
                    mask-size: contain;
                }
            }
            .maximize-btn {
                .svg {
                    -webkit-mask-image: url("../icons/window-maximize.svg");
                    -webkit-mask-size: contain;
                    mask-image: url("../icons/window-maximize.svg");
                    mask-size: contain;
                }
            }
            .restore-btn {
                .svg {
                    -webkit-mask-image: url("../icons/window-restore.svg");
                    -webkit-mask-size: contain;
                    mask-image: url("../icons/window-restore.svg");
                    mask-size: contain;
                }
            }
            .close-btn {
                .svg {
                    -webkit-mask-image: url("../icons/clear_x.svg");
                    -webkit-mask-size: contain;
                    mask-image: url("../icons/clear_x.svg");
                    mask-size: contain;
                }

                &:hover {
                    background-color: $red--primary;

                    .svg {
                        background-color: $light--primary;
                    }
                }

                &:focus-visible {
                    background-color: $red--primary;

                    .svg {
                        background-color: $light--primary;
                    }
                }

                &:active {
                    background-color: $red--primary;
                }
            }
        }
    }

    .title-bar-left-btns {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 30px;

        button {
            height: 30px;
            background-color: var(--background--primary);
            color: var(--btn--titlebar);
            transition: 0.2s;
            cursor: pointer;
            padding: 0 20px;
            border-radius: 0;
            box-shadow: none;
            border: none;
            outline: none;

            &:hover {
                background-color: var(--btn--hover--titlebar);
                cursor: pointer;
            }

            &:focus-visible {
                background-color: var(--btn--hover--titlebar);
            }
        }

        ul {
            display: flex;
            list-style: none;
            li {
                ul {
                    display: none;
                    position: absolute;
                    flex-direction: column;
                    background-color: $light--dark;
                    top: calc($size-6 - 0.5px);

                    align-items: stretch;

                    li {
                        button {
                            padding: 0 20px 0 10px;
                            width: $window--width;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .hotkey {
                                display: inline-block;
                                padding-left: 50px;
                            }
                        }
                    }
                }

                &:hover {
                    ul {
                        display: flex;
                    }
                }
            }
        }
        // .left-btn {
        //     height: 30px;
        //     background-color: var(--background--primary);
        //     color: var(--btn--titlebar);
        //     transition: 0.2s;
        //     cursor: pointer;
        //     padding: 0 20px;
        //     border-radius: 0;
        //     box-shadow: none;
        //     border: none;
        //     outline: none;

        //     &:hover {
        //         background-color: var(--btn--hover--titlebar);
        //     }

        //     &:focus {
        //         background-color: var(--btn--hover--titlebar);
        //     }
    }
}

.contentArea {
    display: flex;
    flex-direction: row;
    width: $window--width;
    height: $window--height;

    .leftMenu {
        width: 200px;
        height: $window--height;
        background-color: $light--primary;
        transition: 0.4s;
    }
}
