@import "./variables";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background--primary);
    color: var(--font--primary);
    height: calc($body-height - $size-6);
    overflow: hidden;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: $accent--color--highlight;

    @media (prefers-color-scheme: dark) {
        color: $accent--color;
    }
}

button {
    -webkit-app-region: no-drag;
    padding: $size-2 $size-8;
    background-color: var(--btn--background);
    color: var(--btn--font);
    border: none;
    cursor: pointer;
    border-radius: 0.5em;
    box-shadow: $shadow-1;
    font-weight: bold;

    &:hover {
        background-color: var(--btn--hover--background);
    }

    &:disabled {
        background-color: #{$accent--color}50;
        box-shadow: none;
    }
}

input[type="text"] {
    background-color: var(--background--primary);
}

select {
    background: var(--background--primary);
    color: var(--font--primary);
}

*::-webkit-scrollbar {
    width: $size-4;
}

*::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--background--primary);
    border-radius: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: content-box;
    min-width: 0;
    min-height: 0;
}

*::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

#loading-container {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;

    #loading-circle {
        background-color: rgba(0, 0, 0, 0);
        background-image: url("../icons/rotate_right.svg");
        background-size: contain;

        width: $size-11;
        height: $size-11;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.spacer {
    height: $size-5;
}

.plus,
.minus {
    display: block;
    width: 1rem;
    height: 1rem;
    position: relative;

    &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);

        width: 1rem;
        height: 0.2rem;
        background-color: var(--font--primary);
    }
}

.plus {
    &::after {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);

        width: 0.2rem;
        height: 1rem;
        background-color: var(--font--primary);
    }
}
