$black-1: #000000;
$black-2: #212121;
$black-3: #363636;

$gray-1: #3d3d3d;
$gray-2: #484848;
$gray-3: #8d8d8d;
$gray-4: #9f9f9f;
$gray-5: #908f8f;
$gray-6: #c5c5c5;

$white-1: #e2e2e2;
$white-2: #efefef;

$red-1: #ff0000;

$accent--color: #0ea5ff;
$accent--color--highlight: #006cb9;

$border-small: 0.5px solid #{$black-1};
$border-normal: 1px solid #{$gray-2};
$border-dark: 1px solid #{$gray-3};

$btn--font--slide: #{$white-2};

$window--width--size: 1200px;
$window--width: 100%;

$window--height: 100%;

$body--height: 100vh;

$min--size--small: 0;

// sizes
$size-000: -0.5rem;
$size-00: -0.25rem;
$size-1: 0.25rem;
$size-2: 0.5rem;
$size-3: 1rem;
$size-4: 1.25rem;
$size-5: 1.5rem;
$size-6: 1.75rem;
$size-7: 2rem;
$size-8: 3rem;
$size-9: 4rem;
$size-10: 5rem;
$size-11: 7.5rem;
$size-12: 10rem;
$size-13: 15rem;
$size-14: 20rem;
$size-15: 30rem;

// shadows
$shadow-strength: 5;

$shadow-1: 0 1px 2px -1px hsl(225, 40%, calc(2% / #{$shadow-strength} + 9%));
$shadow-2: 0 3px 5px -2px hsl(225, 40%, calc(2% / #{$shadow-strength} + 3%)),
    0 7px 14px -5px hsl(225, 40%, calc(2% / #{$shadow-strength} + 5%));
$shadow-3: 0 -1px 3px 0 hsl(225, 40%, calc(2% / #{$shadow-strength} + 2%)),
    0 1px 2px -5px hsl(225, 40%, calc(2% / #{$shadow-strength} + 2%)),
    0 2px 5px -5px hsl(225, 40%, calc(2% / #{$shadow-strength} + 4%)),
    0 4px 12px -5px hsl(225, 40%, calc(2% / #{$shadow-strength} + 5%)),
    0 12px 15px -5px hsl(225, 40%, calc(2% / #{$shadow-strength} + 7%));
$shadow-4: 0 -2px 5px 0 hsl(225, 40%, calc(2% / #{$shadow-strength} + 2%)),
    0 1px 1px -2px hsl(225, 40%, calc(2% / #{$shadow-strength} + 3%)),
    0 2px 2px -2px hsl(225, 40%, calc(2% / #{$shadow-strength} + 3%)),
    0 5px 5px -2px hsl(225, 40%, calc(2% / #{$shadow-strength} + 4%)),
    0 9px 9px -2px hsl(225, 40%, calc(2% / #{$shadow-strength} + 5%)),
    0 16px 16px -2px hsl(225, 40%, calc(2% / #{$shadow-strength} + 6%));
$shadow-5: 0 -1px 2px 0 hsl(225, 40%, calc(2% / #{$shadow-strength} + 2%)),
    0 2px 1px -2px hsl(225, 40%, calc(2% / #{$shadow-strength} + 3%)),
    0 5px 5px -2px hsl(225, 40%, calc(2% / #{$shadow-strength} + 3%)),
    0 10px 10px -2px hsl(225, 40%, calc(2% / #{$shadow-strength} + 4%)),
    0 20px 20px -2px hsl(225, 40%, calc(2% / #{$shadow-strength} + 5%)),
    0 40px 40px -2px hsl(225, 40%, calc(2% / #{$shadow-strength} + 7%));
$shadow-6: 0 -1px 2px 0 hsl(225, 40%, calc(2% / #{$shadow-strength} + 2%)),
    0 3px 2px -2px hsl(225, 40%, calc(2% / #{$shadow-strength} + 3%)),
    0 7px 5px -2px hsl(225, 40%, calc(2% / #{$shadow-strength} + 3%)),
    0 12px 10px -2px hsl(225, 40%, calc(2% / #{$shadow-strength} + 4%)),
    0 22px 18px -2px hsl(225, 40%, calc(2% / #{$shadow-strength} + 5%)),
    0 41px 33px -2px hsl(225, 40%, calc(2% / #{$shadow-strength} + 6%)),
    0 100px 80px -2px hsl(225, 40%, calc(2% / #{$shadow-strength} + 7%));

// for the toggle Button
$switch-width: $size-7;
$switch-height: $size-4;

$slider-margin: $size-2;
$slider-size: $switch-height - $slider-margin;
//normal color
:root {
    --font--primary: #{$gray-2};
    --font--light: #{$gray-2};
    --font--dark: #{$black-1};

    --background--primary: #{$white-1};
    --background--light: #{$white-2};
    --background--dark: #{$gray-3};

    --border--color: #{$border-normal};

    --btn--font: #{$white-2};
    --btn--background: #{$accent--color--highlight};
    --btn--hover--background: #{$accent--color};

    --toggle--btn--background: #{$gray-4};

    --btn--titlebar: #{$black-1};
    --btn--hover--titlebar: #{$gray-6};
}

//take the Systemsettings color, if its dark the programm doing that else the normal :root
@media (prefers-color-scheme: dark) {
    :root {
        --font--primary: #{$white-1};
        --font--light: #{$white-2};
        --font--dark: #{$gray-3};

        --background--primary: #{$black-2};
        --background--light: #{$black-3};
        --background--dark: #{$black-1};

        --border--color: #{$border-dark};

        --toggle--btn--background: #{$gray-2};

        --btn--titlebar: #{$gray-5};
        --btn--hover--titlebar: #{$gray-1};
    }
}
