<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./css/main.css" />
        <title>Document</title>
    </head>
    <body>
        <!-- <div class="option-container">
            <div class="main-section">
                <h1 class="headline">Duplicated UID's</h1>
                <div class="master-container">
                    <div class="section-master" id=""></div>
                </div>
                <div class="option-add-btn">
                    <button class="add-btn" id="add-btn" disabled>Add</button>
                </div>
            </div>
            <div class="buttons">
                <button id="cancel-btn" hidden>Cancel</button>
                <button id="ok-btn">Ok</button>
            </div>
        </div> -->
        <div class="base-container">
            <div class="main-section">
                <h1 class="headline">Duplicated Uids</h1>
                <div class="master-container">
                    <div class="spacer"></div>
                    <div class="section select">
                        <div class="section master" id="dupplicated-uid-section">
                            <!-- <div class="section presentation">
                            <button class="delete-btn">X</button>
                            <input type="text" class="input-path">
                            <button class="browse-btn">...</button>
                        </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button class="cancel-btn" id="cancel-btn">Cancel</button>
                <button class="save-btn" id="change-uids-btn" disabled>Change Uids</button>
            </div>
        </div>
    </body>
    <script>
        require("../ui/controller/duplicatedUidWindow.js");
    </script>
</html>
