<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./css/main.css" />
        <title>ppt Generator</title>
    </head>

    <body>
        <div class="base-container">
            <div class="main-section">
                <h1 class="headline" id="popup-heading">Information</h1>
                <nav class="content-nav">
                    <ul>
                        <li>
                            <a href="#information"><button>Important Information</button></a>
                        </li>
                        <li>
                            <a href="#setup"><button>First Setup</button></a>
                        </li>
                        <li>
                            <a href="#create"><button>Create Presentation</button></a>
                        </li>
                        <li>
                            <a href="#load"><button>Load File</button></a>
                        </li>
                        <li>
                            <a href="#update"><button>Update</button></a>
                        </li>
                        <li>
                            <a href="#options"><button>Options</button></a>
                        </li>
                    </ul>
                </nav>
                <div class="container-section">
                    <div class="section">
                        <div class="info-text scroll">
                            <h2 id="information">Important Informationen:</h2>
                            <br />

                            <h3 id="terms">Technical terms</h3>
                            <br />
                            <p class="tab-1"><b>PresentationMaster</b></p>
                            <p class="tab-2">
                                This a PowerPoint presentation (pptx file) from which slides will be copied.
                            </p>
                            <br />
                            <p class="tab-1"><b>UID</b></p>
                            <p class="tab-2">
                                This a string of at least 5 random urlSafe ASCII-characters in the notes of a slide.
                            </p>
                            <p class="tab-2">The UIDs that are created from this tool, will be 22 character long.</p>
                            <br />
                            <p class="tab-1"><b>Hidden Slides</b></p>
                            <p class="tab-2">Those are slides wich are set to hidden in PowerPoint.</p>
                            <br />
                            <p class="tab-1"><b>Sections</b></p>
                            <p class="tab-2">Those are sections created in PowerPoint which contain slides.</p>
                            <br />
                            <br />
                            <h3 id="info">Information</h3>
                            <br />
                            <p class="tab-1">
                                When the program reads/write files on a cloud it could lead to some problems.
                            </p>
                            <br />
                            <p class="tab-1">The slides in the PresentationMasters need to have UIDs in the notes.</p>
                            <br />
                            <p class="tab-2">A UID contains at least 5 random urlSafe ASCII-characters.</p>
                            <p class="tab-2">One could look like this: "UID:BA4gQ68firnv4lhG_uNHaQ" .</p>
                            <br />
                            <p class="tab-2">
                                When the scan finds a slide without a UID or one that is to short the program will warn
                                you.
                            </p>
                            <p class="tab-2">
                                It will open a window where you see all the slides with a incorrect UID.
                            </p>
                            <p class="tab-2">
                                You have the option fix it by yourself or let the program fix it for you.
                            </p>
                            <p class="tab-2">The slides with incorrect UIDs will receive newly generated UIDs.</p>
                            <br />
                            <p class="tab-2">
                                All UIDs need to be unique. The program will warn you if there are duplicated UIDs.
                            </p>
                            <p class="tab-2">It will open a window where you see all the slides with the same UID.</p>
                            <p class="tab-2">
                                You are able to select one slide or both and tell the program to fix the problem.
                            </p>
                            <p class="tab-2">The selected slides will receive a newly generated UID.</p>
                            <br />
                            <p class="tab-1">If you want to user placeholders, you need to format them like this:</p>
                            <p class="tab-2">~$Placeholder$~</p>
                            <br />
                            <br />
                            <br />

                            <h2 id="setup">First Setup</h2>
                            <br />
                            <p class="tab-1">Open the option in Menu > Option > Open Options or with "Ctrl/Cmd + O".</p>
                            <p class="tab-1">Add a new language. Eg. "en".</p>

                            <img class="tab-1 tut-img" src="./pics/help_1.png" alt="Add Button" />

                            <p class="tab-1">
                                Select the newly added language and add a presentationMaster with the add button.
                            </p>
                            <p class="tab-1">
                                On the right side of the input field click on the three dots to select a pptx-File.
                            </p>

                            <img class="tab-1 tut-img" src="./pics/help_2.png" alt="Browse Button" />

                            <p class="tab-1">After that exit the options with the save Button.</p>
                            <p class="tab-1">In the main window you can select a language next to presentations.</p>

                            <img class="tab-1 tut-img" src="./pics/help_3.png" alt="Language select" />

                            <p class="tab-1">
                                When a language is selected, you can scan the presentationMasters from the selected
                                language.
                            </p>
                            <p class="tab-1">You can scan in Menu > File > Scan or with "Ctrl/Cmd + I".</p>
                            <br />
                            <p class="tab-1">Now the setup is complete.</p>
                            <br />
                            <br />
                            <br />

                            <h2 id="create">Create Presentation</h2>
                            <br />

                            <p class="tab-1">
                                When you successfully scanned a presentation you should see the sections of the
                                presentation.
                            </p>
                            <p class="tab-1">You can open the section with the arrow button to see all the slides.</p>
                            <p class="tab-1">With the plus or minus you can select or deselect all slides.</p>
                            <p class="tab-2">Depending on your settings the hidden slides will be included or not.</p>

                            <img class="tab-1 tut-img" src="./pics/help_4.png" alt="Section buttons" />
                            <br />

                            <p class="tab-1">All selected slides will appear on the right side of the GUI.</p>
                            <p class="tab-1">You are able to drag these slides to the desired position.</p>

                            <img class="tab-1 tut-img" src="./pics/help_5.png" alt="New presentation" />
                            <br />

                            <p class="tab-1">
                                When you're done selecting slides you can click on the export button in the bottom
                                right.
                            </p>
                            <p class="tab-1">
                                If you selected a slide with placeholders a window will open where you need to set
                                values for them.
                            </p>

                            <img class="tab-1 tut-img" src="./pics/help_6.png" alt="Placeholder window" />
                            <br />

                            <p class="tab-1">
                                When you filled out all inputs an click on the set values button the export window will
                                open.
                            </p>
                            <p class="tab-1">
                                If you didn't select a slide with placeholders the export window will open immediately.
                            </p>

                            <img class="tab-1 tut-img" src="./pics/help_7.png" alt="Export window" />
                            <br />

                            <p class="tab-1">Here you need to enter a name for your new presentation.</p>
                            <p class="tab-1">You can change the folder where the new presentation will be saved.</p>
                            <p class="tab-2">By default the program will pick the path from your settings.</p>
                            <br />
                            <p class="tab-1">You can then decide if you want to save this presentation as a preset.</p>
                            <p class="tab-2">
                                You can change the folder where the preset will be saved (Default from settings).
                            </p>
                            <p class="tab-2">The name of the Preset will be the name of the presentation.</p>

                            <img class="tab-1 tut-img" src="./pics/help_8.png" alt="Export window create preset" />
                            <br />
                            <p class="tab-1">You can also create a PDF file from the new presentation.</p>
                            <p class="tab-1">
                                The PDF will be saved at the same location where your new presentation will be saved.
                            </p>
                            <br />
                            <p class="tab-1">
                                When you click export the Programm will copy all selected slides into a new
                                Presentation.
                            </p>
                            <br />
                            <br />
                            <br />

                            <h2 id="load">Load File</h2>
                            <br />

                            <p class="tab-1">
                                You can load presets or presentation with slides from the presentationMaser to edit this
                                presentation.
                            </p>
                            <p class="tab-1">
                                To load a file you need to click on the load file button and select a .json or .pptx
                                file.
                            </p>

                            <img class="tab-1 tut-img" src="./pics/help_9.png" alt="Load file button" />
                            <br />

                            <p class="tab-1">
                                When the file you chose is valid the slides in that preset or presentation will be
                                automatically selected.
                            </p>
                            <p class="tab-1">
                                Values for the placeholders will already be filled if you loaded a generated Preset.
                            </p>
                            <br />
                            <br />
                            <br />

                            <h2 id="update">Update</h2>
                            <br />
                            <p class="tab-1">
                                If you want to update your slides in the PresentationMaster you need to do the
                                following.
                            </p>
                            <br />
                            <p class="tab-1">
                                Put all Presentation that you want to be scanned for updates in a folder.
                            </p>
                            <p class="tab-1">Then you need to scan a folder under Menu > File > Scan Folder.</p>
                            <p class="tab-1">Select the folder where your presentations are saved.</p>
                            <br />
                            <p class="tab-1">
                                When the program found slides that can be updated it will open a new Window.
                            </p>
                            <p class="tab-1">
                                There you will see the original and all the different versions it found.
                            </p>
                            <p class="tab-1">
                                You can select one of the version and this slide will be updated in the
                                presentationMaster.
                            </p>
                            <br />
                            <p class="tab-1">When the Programm found new slides it will also open a window.</p>
                            <p class="tab-1">There you can select all the slides that you want to be added.</p>
                            <p class="tab-1">You need to select a presentation where the slides will be added.</p>
                            <br />
                            <br />
                            <br />

                            <h2 id="options">Options</h2>
                            <br />

                            <img class="tab-1 tut-img" src="./pics/help_10.png" alt="Single line options" />
                            <br />

                            <p class="tab-1">Default export Location</p>
                            <p class="tab-2">
                                Here you can set the default location where your created presentations will be saved.
                            </p>
                            <br />
                            <p class="tab-1">Meta-Json</p>
                            <p class="tab-2">In this json all the necessary information from a scan will be saved.</p>
                            <p class="tab-2">You can change where this file will be created and saved.</p>
                            <br />
                            <p class="tab-1">Meta-pics Location</p>
                            <p class="tab-2">
                                The pictures that will be created from the slides will be saved in this folder.
                            </p>
                            <p class="tab-2">You can change where the pictures will be created and saved.</p>
                            <br />
                            <p class="tab-1">Backup Location</p>
                            <p class="tab-2">
                                Here you can set the location where Backups will be saved that will be created by the
                                program.
                            </p>
                            <br />
                            <p class="tab-1">Include Hidden Slides</p>
                            <p class="tab-2">
                                You can toggle if the hidden slides should be included in the selection of the whole
                                section.
                            </p>
                            <br />
                            <p class="tab-1">Language</p>

                            <img class="tab-1 tut-img" src="./pics/help_11.png" alt="Language options" />
                            <br />

                            <p class="tab-2">
                                You can select for wich language you want to edit the presentation Masters or add a new
                                language.
                            </p>
                            <p class="tab-2">
                                The presentationMasters of the selected language will be displayed in the container
                                below language.
                            </p>
                            <p class="tab-2">You can select a pptx-File as a PresentationMaster.</p>
                            <br />
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button id="ok-btn">Ok</button>
            </div>
        </div>
    </body>

    <script>
        require("../ui/controller/help.js");
    </script>
</html>
