<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="./css/main.min.css">
   <script src="./scripts/index.js" defer></script>
   <title>ppt Generator</title>
</head>

<body>
   <div class="container">
      <div class="container-item left">
         <h2 class="headline left">Templates</h2>
         <div class="nested-container template">
            <div class="presentation-slide-container left">
            
            </div>
            <div class="btn-container add">
               <button class="add-btn">ADD</button>
            </div>
         </div>
      </div>

      <div class="container-item right">
         <h2 class="headline right">New Presentation</h2>
         <div class="nested-container presentation">
            <div class="presentation-slide-container right">
               <div class="location-specification">
                  <label class="location-lbl">Location:</label>
                  <input type="text" name="presentation-path" class="presentation-name" value="">
                  <button class="browse-btn">Browse</button>
               </div>

            </div>
            <div class="btn-container export">
               <button class="export-btn">export</button>
            </div>
         </div>
      </div>
</body>

</html>