<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="./css/main.css">
   <title>ppt Generator</title>
</head>

<body>
   <div class="container">
      <div class="container-item left">
         <h1 class="headline left">Presentations</h1>
         <div class="nested-container template">
            <div class="presentation-slide-container left">

            </div>
            <div class="btn-container add">
               <button class="add-btn">Add</button>
            </div>
         </div>
      </div>

      <div class="container-item right">
         <h1 class="headline right">New Presentation</h1>
         <div class="nested-container presentation">
            <div class="presentation-slide-container right">
               <!-- Load content from script  -->
            </div>
            <div class="btn-container">
               <button id="load-preset-btn">Load preset</button>
               <button id="export-btn">Export</button>
            </div>
         </div>
      </div>
</body>

<script>
   require("../ui/controller/index.js");
</script>

</html>