<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="./css/main.min.css">
   <script src="./scripts/index.js"></script>
   <title>ppt Generator</title>
</head>

<body>
   <div class="container">
      <div class="container-item left">
         <h2 class="headline left">Templates</h2>
         <div class="nested-container template">
            <div class="presentation-slide-container left">
               Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Aliquam
               rerum corrupti repellendus, excepturi
               asperiores illum consequatur ipsam quos maxime sed maiores voluptate hic architecto in, consequuntur
               explicabo aut fuga dolorum!
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae cum animi hic temporibus! Voluptatum
               velit adipisci nemo fuga ducimus, hic illum saepe inventore quibusdam necessitatibus ratione id nihil
               eaque
            </div>
            <div class="btn-container add">
               <button class="add-btn">ADD</button>
            </div>
         </div>
      </div>

      <div class="container-item right">
         <h2 class="headline right">New Presentation</h2>
         <div class="nested-container presentation">
            <div class="presentation-slide-container right">
               <div class="location-specification">
                  <label class="location-lbl">Location:</label>
                  <input type="text" name="presentation-path" class="presentation-name" value="">
                  <button class="browse-btn">Browse</button>
               </div>
               <div>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Impedit
                  soluta laudantium, facere ipsam veniam
                  accusamus maiores fuga placeat obcaecati maxime facilis omnis odio dolor similique. Impedit adipisci
                  sint
                  provident fuga.
               </div>
            </div>
            <div class="btn-container export">
               <button class="export-btn">export</button>
            </div>
         </div>
      </div>
</body>

</html>