<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/main.min.css">
    <title>Option</title>
</head>

<body>

    <div class="main-section">
        <h1 class="headline">Option</h1>
        <div class="container-section">
            <div class=" section default-export">
                <label class="lbl default">Default export Location</label>
                <input type="text" class="input-path">
                <button class="browse-btn">...</button>
            </div>
            <div class="section meta-json">
                <label class="lbl meta"></labelclass>Meta-Json Location</label>
                <input type="text" class="input-path">
                <button class="browse-btn">...</button>
            </div>
            <div class="section meta-pics">
                <label class="lbl meta"></labelclass>Meta-Pics Location</label>
                <input type="text" class="input-path">
                <button class="browse-btn">...</button>
            </div>
        </div>
        <div class="buttons">
            <button class="cancel-btn">Cancel</button>
            <button class="save-btn">Save</button>
        </div>
    </div>
</body>

</html>