<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./css/main.css" />
        <title>Option</title>
    </head>

    <body>
        <div class="option-container">
            <div class="main-section">
                <h1 class="headline">Options</h1>
                <div class="container-section">
                    <div class="section default-export">
                        <label for="default-export" class="lbl default">
                            Default export Location: 
                            <span 
                                class="info-img" 
                                title="Select the folder in which the&#13presentations are saved by default">
                            </span>
                        </label>
                        <div class="browse-input">
                            <input type="text" class="input-path" id="default-export" />
                            <button class="browse-btn directory">...</button>
                        </div>
                    </div>
                    <div class="section meta-json">
                        <label for="meta-json" class="lbl meta">
                            Meta-Json Location: 
                            <span 
                                class="info-img" 
                                title="Select the json file in which the&#13information from the scanned presentations is saved">
                            </span>
                        </label>
                        <div class="browse-input">
                            <input type="text" class="input-path" id="meta-json" />
                            <button class="browse-btn file">...</button>
                        </div>
                    </div>
                    <div class="section meta-pics">
                        <label for="meta-pics" class="lbl meta">
                            Meta-Pics Location: 
                            <span 
                                class="info-img" 
                                title="Select the folder in which the&#13pictures of the scanned presentations are saved">
                            </span>
                        </label>
                        <div class="browse-input">
                            <input type="text" class="input-path" id="meta-pics" />
                            <button class="browse-btn directory">...</button>
                        </div>
                    </div>
                    <div class="section toggle-button">
                        <label for="ignore-hidden-slides-toggle-btn" class="ignore-lbl">
                            IncludeHiddenSlides:
                            <span
                                class="info-img"
                                title="Includes hidden slides when&#13selecting all slides from a section"
                            ></span>
                        </label>
                        <div class="checkbox-toggle-btn">
                            <label class="switch">
                                <input type="checkbox" id="ignore-hidden-slides-toggle-btn" />
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="master-container">
                    <div class="spacer"></div>
                    <div class="section select">
                        <label class="lbl"> Language:
                            <span 
                                class="info-img" 
                                title="Select a language for the&#13presentation-masters">
                            </span>
                        </label>
                        <div class="select-language">
                            <button class="x-btn" id="x-btn"></button>
                            <select id="language-select">
                                <option value=""></option>
                            </select>
                            <input type="text" class="input-path" id="language-input" />
                            <button class="add-language-btn" id="add-language-btn"></button>
                        </div>
                    </div>
                    <h3>Presentation Masters: 
                        <span 
                            class="info-img" 
                            title="List of all presentation-masters&#13with the selected language">
                        </span>
                    </h3>
                    <div class="section master" id="presentation-section">
                        <!-- <div class="section presentation">
                        <button class="delete-btn">X</button>
                        <input type="text" class="input-path">
                        <button class="browse-btn">...</button>
                    </div> -->
                    </div>
                    <div class="option-add-btn">
                        <button class="add-btn" id="add-btn" disabled>Add</button>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button class="cancel-btn">Cancel</button>
                <button class="save-btn" disabled>Save</button>
            </div>
        </div>
    </body>

    <script>
        require("../ui/controller/option.js");
    </script>
</html>
