<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./css/main.min.css" />
        <title>Option</title>
    </head>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/main.min.css">
    <title>Option</title>
</head>

<body>
    <div class="option-container">
        <div class="main-section">
            <h1 class="headline">Option</h1>
            <div class="container-section">
                <div class="section default-export">
                    <label for="default-export" class="lbl default">Default export Location</label>
                    <div class="browse-input">
                        <input type="text" class="input-path" id="default-export">
                        <button class="browse-btn directory">...</button>
                    </div>
                </div>
                <div class="master-container">
                    <h2><u> presentationMasters </u></h2>
                    <div>
                        <label>Language:</label>
                        <select>
                            <option value="de">de</option>
                            <option value="en">en</option>
                        </select>
                    </div>
                </div>
                <div class="section meta-pics">
                    <label for="meta-pics" class="lbl meta">Meta-Pics Location</label>
                    <div class="browse-input">
                        <input type="text" class="input-path" id="meta-pics">
                        <button class="browse-btn directory">...</button>
                    </div>
                </div>
                <div class="section toggle-button">
                    <label for="ignore-hidden-slides-toggle-btn" class="ignore-lbl">IgnoreHiddenSlides:</label>
                    <div class="checkbox-toggle-btn">
                        <label class="switch">
                            <input type="checkbox" id="ignore-hidden-slides-toggle-btn">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="master-container">
                <h2><u> presentationMasters </u></h2>
                <div class="section select">
                    <label class="lbl">Language:</label>
                    <div class="select-language">
                        <select>
                            <option value="de">de</option>
                            <option value="en">en</option>
                        </select>
                    </div>
                </div>
                <h3>Presentation:</h3>
                <div class="section master">
                    <div class="section presentation">
                        <button class="delete-btn">X</button>
                        <input type="text" class="input-path">
                        <button class="browse-btn">...</button>
                    </div>
                </div>
                <div class="option-add-btn">
                    <button class="add-btn" id="add-btn" >Add</button>
                </div>
            </div>
        </div>
    </body>

    <script>
        require("../ui/controller/option.js");
    </script>
</html>
