<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./css/main.css" />
        <title>Document</title>
    </head>
    <body>
        <div class="base-container">
            <div class="main-section">
                <h1 class="headline">Update SlideMaster</h1>
                <div class="master-container">
                    <div class="spacer"></div>
                    <div class="section select">
                        <div class="section master" id="uid-section">
                            <!--The content will be loaded dynamically-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <div
                    class="section toggle-button"
                    style="display: flex; flex-direction: row-reverse; align-items: center"
                >
                    <label for="ignore-hidden-slides-toggle-btn" class="ignore-lbl">
                        Add other to history:
                        <span
                            class="info-img"
                            title="Add the hash of the not selected slides to the hash history"
                        ></span>
                    </label>
                    <div class="checkbox-toggle-btn" style="flex: 0.4">
                        <label class="switch">
                            <input type="checkbox" id="add-to-history-toggle-btn" />
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <button class="cancel-btn" id="cancel-btn">Cancel</button>
                <button class="save-btn" id="update-btn">Update Slides</button>
            </div>
        </div>
    </body>

    <script>
        require("../ui/controller/updateSlideMaster.js");
    </script>
</html>
