<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./css/main.css" />
        <title>Variables</title>
    </head>

    <body>
        <div class="option-container">
            <div class="main-section">
                <h1 class="headline">Found Variables</h1>
                <div class="container-section scroll" id="variablesContainer">
                    <!-- Content loaded from script -->
                </div>
            </div>
            <div class="buttons">
                <button id="cancel-btn">Cancel</button>
                <button id="set-btn">Set values</button>
            </div>
        </div>
    </body>

    <script>
        require("../ui/controller/variables.js");
    </script>
</html>
