.main-app {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    overflow: hidden;
    border: 0.5px solid black;
    -webkit-app-region: drag;

    .top-bar {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: $size-6;
        background-color: #2f3241;
        -webkit-user-select: none;

        .title-bar-btns {
            display: flex;
            flex-direction: row;
            width: 120px;
            height: 40px;

            .top-btn {
                width: 48px;
                height: 40px;
                border: none;
                outline: none;
                background-color: transparent;
                background-repeat: no-repeat;
                background-position: center;
                transition: 0.2s;
                cursor: pointer;

                &:hover {
                    background-color: green;
                }

                &:active {
                    background-color: red;
                }
            }

            .minimize-btn {
                background-image: url("../icons/add_circle_x.svg");
            }
            .maximize-btn {
                background-image: url("../icons/add_circle_x.svg");
            }
            .restore-btn {
                background-image: url("../icons/add_circle_x.svg");
            }
            .close-btn {
                background-image: url("../icons/add_circle_x.svg");
            }
        }
    }

    .title-bar {
        display: flex;
        flex-direction: row;
        align-items: center;

        .toggleButton {
            width: 45px;
            height: 40px;
            border: none;
            outline: none;
            background-color: transparent;
            background-image: url("../icons/add_circle_x.svg");
            background-repeat: no-repeat;
            background-position: center;
            transition: 0.2s;
            cursor: pointer;

            &:hover {
                background-color: azure;
            }

            &:active {
                background-color: yellow;
            }

            img {
                margin-left: 10px;
            }

            .title {
                margin-left: 10px;
                width: 100%;
                line-height: 38px;
                margin-top: 5px;
                -webkit-app-region: drag;
            }
        }
    }

    .contentArea {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;

        .leftMenu {
            width: 200px;
            height: 100%;
            background-color: aqua;
            transition: 0.4s;
        }
    }
}
