.option-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: var(--background--light);
    height: $window-height;

    .main-section {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: $size-4;
        height: $window-height;
        min-height: 0;
        min-width: 0;

        .headline {
            text-align: center;
        }

        .container-section {
            display: flex;
            flex-direction: column;
            min-height: 0;
            min-width: 0;

            .section {
                display: flex;
                min-height: 0;
                min-width: 0;

                .lbl {
                    flex: 1;
                    justify-content: left;
                }

                .browse-input {
                    flex: 1.2;
                    display: flex;
                    min-height: 0;
                    min-width: 0;

                    .input-path {
                        color: var(--font--primary);
                        flex: 1;
                        margin: 0 $size-1;
                        min-height: 0;
                        min-width: 0;
                    }

                    .browse-btn {
                        margin-left: $size-2;
                        padding: 0 $size-2;
                    }
                }
            }
        }
    }

    .master-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        min-height: 0;
        min-width: 0;

        .section {
            display: flex;
            min-width: 0;

            .lbl {
                flex: 1;
                justify-content: left;
            }

            .input-path {
                flex: 1;
                color: var(--font--primary);
                margin: 0 $size-1;
                min-width: 0;
            }

            .browse-btn {
                margin-left: $size-2;
                padding: 0 $size-2;
            }
        }

        .select-language {
            flex: 1.2;
            display: flex;
            min-width: 0;
        }

        .section.master {
            flex: 1;
            display: flex;
            flex-direction: column;
            border: $size-2 solid var(--background--primary);
            padding: $size-4;
            min-width: 0;
            min-height: 0;
            overflow-y: scroll;
            overflow-x: hidden;
            padding: $size-2 $size-4;

            .section.presentation {
                display: flex;

                .delete-btn {
                    background: none;
                    box-shadow: none;
                    margin-left: $size-2;
                    padding: 0 $size-2;
                }
            }
        }

        .option-add-btn {
            display: flex;
            justify-content: flex-end;
            min-width: 0;
            min-height: 0;

            .add-btn {
                margin-right: $size-2;
            }
        }
    }

    .buttons {
        display: flex;
        justify-content: flex-end;
        padding: $size-2;
        min-width: 0;

        button {
            margin: $size-2;
        }
    }
}
