.section {
    margin: $size-2 0;

    .sectionHeader {
        background-color: var(--background--primary);
        padding: $size-2;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .headerText {
            font-size: 1.1rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            min-width: 0;
        }

        .sectionButtons {
            flex-shrink: 0;
            button {
                background: none;
                box-shadow: none;
                color: var(--font--primary);
                padding: $size-2 $size-3;
                align-self: flex-end;
                font-size: 1.1rem;
                cursor: pointer;
            }
        }
    }

    .slide {
        padding: $size-1 $size-1 $size-1 $size-4;
        display: none;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
            background: var(--btn--hover--background);
            color: $btn--font--slide;
            box-shadow: $shadow-1;
        }
    }

    &.open .slide {
        display: block;
    }
}
