.main-app {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: $size-6;
    overflow: hidden;
    border-bottom: 0.5px solid rgb(32, 32, 32);
    -webkit-app-region: drag;

    .top-bar {
        flex: 1;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: $size-6;
        -webkit-user-select: none;
        user-select: none;

        .title {
            display: flex;
            justify-content: center;
            align-items: center;

            position: absolute;
            z-index: -1;
            width: 100%;
            height: $size-6;
        }

        .title-bar-btns {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            .top-btn {
                padding: 0 10px;
                border: none;
                outline: none;
                background-color: transparent;
                background-position: center;
                transition: 0.2s;
                cursor: pointer;
                border-radius: 0;
                box-shadow: none;

                &:hover {
                    background-color: var(--btn--hover--titlebar);
                }

                &:focus-visible {
                    background-color: var(--btn--hover--titlebar);
                }

                &:disabled:hover {
                    background-color: var(--background--primary);
                }
            }

            .svg {
                background-color: var(--btn--titlebar);
                width: 19px;
                height: 19px;
            }

            .minimize-btn {
                .svg {
                    -webkit-mask-image: url("../icons/minimize.svg");
                    -webkit-mask-size: contain;
                    mask-image: url("../icons/minimize.svg");
                    mask-size: contain;
                }
            }
            .maximize-btn {
                .svg {
                    -webkit-mask-image: url("../icons/window-maximize.svg");
                    -webkit-mask-size: contain;
                    mask-image: url("../icons/window-maximize.svg");
                    mask-size: contain;
                }
            }
            .restore-btn {
                .svg {
                    -webkit-mask-image: url("../icons/window-restore.svg");
                    -webkit-mask-size: contain;
                    mask-image: url("../icons/window-restore.svg");
                    mask-size: contain;
                }
            }
            .close-btn {
                .svg {
                    -webkit-mask-image: url("../icons/clear_x.svg");
                    -webkit-mask-size: contain;
                    mask-image: url("../icons/clear_x.svg");
                    mask-size: contain;
                }

                &:hover {
                    background-color: red;

                    .svg {
                        background-color: white;
                    }
                }

                &:focus-visible {
                    background-color: red;

                    .svg {
                        background-color: white;
                    }
                }

                &:active {
                    background-color: red;
                }
            }
        }
    }

    .title-bar-left-btns {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 30px;

        .left-btn {
            height: 30px;
            background-color: var(--background--primary);
            color: var(--btn--titlebar);
            transition: 0.2s;
            cursor: pointer;
            padding: 0 20px;
            border-radius: 0;
            box-shadow: none;
            border: none;
            outline: none;

            &:hover {
                background-color: var(--btn--hover--titlebar);
            }

            &:focus-visible {
                background-color: var(--btn--hover--titlebar);
            }
        }
    }

    .contentArea {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;

        .leftMenu {
            width: 200px;
            height: 100%;
            background-color: rgb(255, 255, 255);
            transition: 0.4s;
        }
    }
}
